body {
    background-color: antiquewhite;
}

.titulo {
    display: flexbox;
    background-color: aqua;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub-titulo {
    display: flexbox;
    background-color: aquamarine;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color:rgb(156, 177, 177);
}